 {% extends "base.html"%}{% block content%}
<header class="page-header header container-fluid">
    <div class="overlay">
        <div class="description">
            <h1>OUR GROUP BRANDS IN BRIEF</h1>
            <p>Connecting players all over the world</p>

        </div>
    </div>
</header>
<div class="container features">
    <div class="about_content">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h1>About the site</h1>
            <p>The problem we are trying to solve is finding good players to play games with online. Nowadays games assign teams randomly usually in a 4v4 or 5v5 style, making it nearly a guarantee that gamers will have teammates throughout the match who
                are annoying, don’t play as well as they would like, or are even cheating. However, finding good gamers to play with is hard to do. There are hardly any outlets for finding dedicated people who want the same thing as some people do. This
                where a properly designed site and service will fill the void.</p>
            <h1>Mission</h1>
            <p>
                The website that would solve this problem will require users to create an account on the site, followed by linking their console Gamertags to the website. For example, if someone wants to link their Playstation Gamertag, all they would need to do is sign
                in with their ps4 log-in on the website, and they would be able to connect with other Playstation 4 gamers. The gaming space needs a platform to escape the unwanted teammates that people find in games, making it possible for gamers to
                play with gamers that match their playstyle, and personality. Our site strives to create a space for gamers of all nature, from casual to competitive, and on Playstation, Xbox, and PC.
            </p>
        </div>
    </div>
</div>
{% endblock%}