{% extends "base.html" %} {% block content %}

<ul>
    {% for g in gameList %}

    <li><a href="games/{{g.id}}/">{{g.name}}</a></li>

    {% endfor %}
</ul>
<p> Games</p>
<p>Call of Duty </p>
<p>Rocket </p>
<p>Rainbow 6 Valorant </p>
<p>Fortnite </p>
<p>Fifa 20 </p>
<p>GTA </p>
<p>Battlefield</p>
<p>PUBG </p>
<p>PES 20 </p>

</div>
<div class="content">
    Home feed
    <form name="form1" metdod="post" action="">

        <input type="text" name="feed" id="feed" />
        <button type="submit" class="btn btn-primary login-button">Search</button>
    </form>
    <label for="sorti">Sort by</label>
    <select name="sorti" id="sorti">
                    <option value="most">Most recent</option>
                    <option value="least">Least Recent</option>
                    <option value="recommended">Recommended</option>
                 </select>


    <a href="/mygames/createpost"> Create post</a>
    <a href="logout/">Logout</a>
    <!-- end .content -->
    <div style="background-color: aliceblue;">
        <table style="width:100%; border: 1px solid black;  border-collapse: collapse;">
            <tr style="font-weight: bold;">
                <td>Title</td>
                <td>Game Name</td>
                <td>Date</td>
                <td>Link to Post</td>
            </tr>
            {% for p in postList %}
            <tr>
                <td>{{p.title}}</td>
                <td>{{p.game}}</td>
                <td>{{p.published_date}}</td>
                <td><a href="post/{{p.id}}/" class="btn btn-lg btn-success" role="button">View</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}

        </html>